@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ICA"; /* le nom que tu utiliseras dans CSS */
  src: url("../assets/fonts/ICARubrikBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bleu-psg: #022136;
  --rouge-psg: #da291c;
  --or-psg: #ceab5d;
}

/* petit menu à droite */
nav {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
}

nav {
  /* background-color: var(--rouge-psg); */
  padding-left: 3px;
  padding-right: 4px;
  padding-bottom: 0px;
  padding-top: 20px;
  border-radius: 20px;
}

nav ul {
  width: 100%;
  height: 100%;
}

nav a {
  color: var(--bleu-psg);
  -webkit-text-stroke: 1px white;
  font-size: 5rem;
  font-weight: 900;
  line-height: 1;
  transform: rotate(90deg);
}

nav li {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* transform: rotate(90deg); */
}

nav a.active {
  color: white;
  -webkit-text-stroke: 0px white;
}

/* section1 */

.section-titre {
  height: 100vh;
  width: 100%;
  position: relative;
  font-size: 5.5em;
  /* background-image: url("../assets/image/pattern1.png"); */
  background-color: var(--bleu-psg);
  overflow: hidden;
}

.section-titre h1 {
  color: rgb(255, 255, 255);
  font-family: "ICA", sans-serif;
  font-weight: 700;
  position: relative;
  /* bottom: 200px;
  left: 50%;
  transform: translateX(-50%); */
  margin: auto;
  top: 40%;
  font-size: 15rem;
  text-transform: uppercase;
  width: max-content;
  /* -webkit-text-stroke: 7px#da291c; */
}

.section-titre h1::after {
  content: attr(data-content);
  inset: 0 0 0 0;
  position: absolute;
  z-index: 2;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.div-img {
  background-image: url("../assets/image/joao-accueil.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 90vh;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-size: auto 200%;
  background-position: 85% top;
  filter: drop-shadow(0px 0px 3px white);
}

.section-titre h4 {
  position: absolute;
  top: 21%;
  left: 12vw;
  font-family: "Great Vibes", cursive;
  letter-spacing: 5px;
  font-weight: 100;
  color: white;
  font-size: 6rem;
}

.section-titre h4::before {
  content: "";
  width: 100%;
  right: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: white;
}

.section-titre h4::after {
  content: "";
  width: 100%;
  left: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: white;
}

.logo-psg-accueil {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50px);
  display: none;
}

.section-titre button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  height: 70px;
  width: 70px;
  background-color: transparent;
  color: white;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: rebond 1.5s infinite;
}
.section-titre button span {
  /* transform: translateY(9px); */
  padding-top: 10px;
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  height: 100%;
}

.section-titre button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--bleu-psg);
  animation: none;
}

.section-titre h5 {
  position: absolute;
  top: 30px;
  right: 100px;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0px;
  font-weight: 100;
  color: white;
  font-size: 1.5rem;
}

.section-titre h5::before {
  content: "";
  width: 180%;
  right: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: white;
}

.section-titre h5::after {
  content: "";
  width: 100%;
  left: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background-color: white;
}

@keyframes rebond {
  0% {
    transform: translate(-50%, -9px);
  }
  10% {
    transform: translate(-50%, 0px);
  }
  20% {
    transform: translate(-50%, -6px);
  }
  30% {
    transform: translate(-50%, 0px);
  }
  90% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, -7px);
  }
}

/* section 2 */
/* séparation avec la premiere section */
.separation {
  background: url("../assets/image/pattern2.png");
  background-size: 20px;
  background-color: #022136;
  height: 40px;
  width: 100%;
  border-top: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
}

.section2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background: var(--or-psg);
  background-image: url("../assets/image/le_message_alarmant_de_joao_neves_avant_la_rencontre_iconsport_1003090745.png");
  cursor: none;
  overflow: hidden;
  background-attachment: fixed;
}

#cercle {
  height: 50px;
  width: 50px;
  background-color: rgba(2, 33, 54, 0.8);
  filter: blur(8px);
  border-radius: 100%;
  position: absolute;
  top: -70px;
}

.div-texte-section2 {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10vh;
  height: 80vh;
  backdrop-filter: blur(20px);
  background-color: rgba(2, 33, 54, 0.6);
  border-radius: 20px;
  color: white;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid white;
  /* overflow-y: scroll; */
}

.div-texte-section2:hover {
  cursor: default;
}

.div-texte-section2 h4 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "ICA";
}

.div-texte-section2 p {
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  text-align: center;
}

/* section 3 */
.section3 {
  position: relative;
  height: 100vh;
  background-color: var(--bleu-psg);
}

.section3 h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "ICA";
  color: white;
}

.section3 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: auto;
  height: 70vh;
  /* margin-top: 20px; */
  /* overflow-x: scroll; */
}

.section3 .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 49vw;
  height: 70vh;
}

.section3 .wrapper::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -100px;
  content: "←";
  font-size: 2rem;
  color: white;
  height: 57px;
  padding-bottom: 3px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid white;
}

.section3 .wrapper::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
  content: "→";
  font-size: 2rem;
  color: white;
  height: 57px;
  padding-bottom: 3px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid white;
}

.section3 .wrapper::before:hover,
.section3 .wrapper::after:hover {
  content: "←";
  color: var(--bleu-psg);
  background-color: white;
  border: 2px solid var(--bleu-psg);
  cursor: crosshair;
}

.section3 .container .card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
