@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "ICA"; /* le nom que tu utiliseras dans CSS */
  src: url("../assets/fonts/ICARubrikBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bleu-psg: #022136;
  --rouge-psg: #da291c;
  --or-psg: #ceab5d;
}

.section-titre {
  height: 100vh;
  width: 100%;
  position: relative;
  font-size: 5.5em;
  /* background-image: url("../assets/image/pattern1.png"); */
  background-color: var(--bleu-psg);
  overflow: hidden;
}

.section-titre h1 {
  color: rgb(255, 255, 255);
  font-family: "ICA", sans-serif;
  font-weight: 700;
  position: relative;
  /* bottom: 200px;
  left: 50%;
  transform: translateX(-50%); */
  margin: auto;
  top: 25%;
  font-size: 15rem;
  text-transform: uppercase;
  width: max-content;
  /* -webkit-text-stroke: 7px#da291c; */
}

.section-titre h1::after {
  content: attr(data-content);
  inset: 0 0 0 0;
  position: absolute;
  z-index: 2;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.div-img {
  background-image: url("../assets/image/joao-accueil.png");
  background-repeat: no-repeat;
  position: absolute;
  height: 90vh;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-size: auto 200%;
  background-position: 85% top;
}

.section-titre h4 {
  position: absolute;
  top: 21%;
  left: 12vw;
  font-family: "Great Vibes", cursive;
  letter-spacing: 5px;
  font-weight: 100;
  color: white;
  font-size: 6rem;
}

.section-titre h4::before {
  content: "";
  width: 100%;
  right: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: white;
}

.section-titre h4::after {
  content: "";
  width: 100%;
  left: 110%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: white;
}

.logo-psg-accueil {
  width: 60px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50px);
  display: none;
}

.section-titre button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  height: 70px;
  width: 70px;
  background-color: transparent;
  color: white;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: rebond 2s infinite;
}
.section-titre button span {
  transform: translateY(-3px);
  font-size: 30px;
  font-weight: 800;
}

.section-titre button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--bleu-psg);
  animation: none;
}

@keyframes rebond {
  0% {
    transform: translate(-50%, -7px);
  }
  5% {
    transform: translate(-50%, 0px);
  }
  10% {
    transform: translate(-50%, -3px);
  }
  50% {
    transform: translate(-50%, 0px);
  }
  90% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, -7px);
  }
}

/* section 2 */
/* séparation avec la premiere section */
.separation {
  background: url("../assets/image/pattern2.png");
  background-size: contain;
  background-color: #022136;
  height: 20px;
  width: 100%;
  border-top: 2px solid rgb(176, 174, 174);
  border-bottom: 2px solid rgb(176, 174, 174);
}

.section2 {
  position: relative;
  height: 100vh;
  width: 100%;
  background: var(--or-psg);
  background-image: url("../assets/image/le_message_alarmant_de_joao_neves_avant_la_rencontre_iconsport_1003090745.png");
  cursor: none;
}

.div-texte-section2 {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 250px;
  backdrop-filter: blur(20px);
  background-color: rgba(2, 33, 54, 0.6);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  border: 1px solid white;
}

.div-texte-section2:hover {
  cursor: default;
}

.div-texte-section2 h4 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "ICA";
}

.div-texte-section2 p {
  padding-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
}

#cercle {
  position: absolute;
  width: 60px;
  height: 60px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  border-radius: 100%;
  pointer-events: none; /* si jamais ça permet de pas empecher les clics */
  transform: translate(-50%, -50%);
  background-image: url("../assets/image/logo-psg.png");
  background-size: contain;
}
