<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>João Neves</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <section class="section-titre">
      <img class="logo-psg-accueil" src="../assets/image/logo-psg.png" alt="" />
      <h4>the art of</h4>

      <img class="effet-blanc" src="../assets/image/effet-blanc.png" alt="" />

      <h1 data-content="João Neves">João Neves</h1>
      <div class="div-img"></div>
      <button><span>↓</span></button>
    </section>

    <div class="separation"></div>

    <section id="section2" class="section2">
      <div id="cercle"></div>
      <div class="div-texte-section2">
        <h4>João Neves</h4>
        <p>
          João Neves est un jeune footballeur portugais, né en 2004, qui évolue
          au poste de milieu de terrain. Formé au Benfica Lisbonne, il s’est
          rapidement imposé comme l’un des grands espoirs du club grâce à son
          intelligence de jeu, son volume de travail et sa qualité technique.
          International avec le Portugal, il est considéré comme l’un des
          talents les plus prometteurs de sa génération.
        </p>
      </div>
    </section>
    <footer></footer>
    <script src="../script/script.js"></script>
  </body>
</html>
