<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>João Neves</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a class="a-nav active" href="#section1">•</a></li>
        <li><a class="a-nav" href="#section2">•</a></li>
        <li><a class="a-nav" href="#section3">•</a></li>
        <li><a class="a-nav" href="#section4">•</a></li>
      </ul>
    </nav>

    <section id="section1" class="section-titre">
      <h5>deisgned by Paul</h5>

      <img class="logo-psg-accueil" src="../assets/image/logo-psg.png" alt="" />
      <h4>the art of</h4>

      <h1 data-content="João Neves">João Neves</h1>
      <div class="div-img"></div>
      <button><span id="span-fb">↓</span></button>
    </section>

    <div class="separation"></div>

    <section id="section2" class="section2">
      <div id="cercle"></div>
      <div class="div-texte-section2">
        <h4>João Neves</h4>
        <p>
          João Neves est un jeune footballeur portugais, né en 2004, qui évolue
          au poste de milieu de terrain. Formé au Benfica Lisbonne, il s’est
          rapidement imposé comme l’un des grands espoirs du club grâce à son
          intelligence de jeu, son volume de travail et sa qualité technique.
          International avec le Portugal, il est considéré comme l’un des
          talents les plus prometteurs de sa génération. <br /><br />
          En 2023, João Neves attire l’attention de plusieurs clubs européens
          grâce à ses performances remarquables. C’est le Paris Saint-Germain
          qui réussit à s’attacher ses services, voyant en lui un jeune milieu
          capable d’apporter créativité et stabilité au cœur du jeu parisien. Au
          PSG, il se retrouve entouré de stars internationales, ce qui lui offre
          l’opportunité de continuer son apprentissage tout en participant à des
          compétitions de haut niveau comme la Ligue 1 et la Ligue des
          champions.<br />
          Sa polyvalence et sa maturité tactique font de lui un joueur très
          apprécié par les entraîneurs et les supporters, qui voient en lui un
          pilier potentiel du futur projet du club. <br /><br />
          João Neves, jeune prodige portugais, allie talent, maturité et
          polyvalence. Déjà remarqué au Benfica et désormais au PSG, il
          représente l’avenir du milieu de terrain et un pilier potentiel pour
          le club parisien dans ses ambitions nationales et européennes.
        </p>
      </div>
    </section>
    <div class="separation"></div>

    <section id="section3" class="section3">
      <h2>Photos iconiques</h2>
      <div class="wrapper">
        <div class="container">
          <img class="card" src="../assets/image/photo1.jpg" alt="" />
          <img class="card" src="../assets/image/photo1.jpg" alt="" />
          <img class="card" src="../assets/image/photo1.jpg" alt="" />
          <img class="card" src="../assets/image/photo1.jpg" alt="" />
        </div>
      </div>
    </section>
    <footer></footer>
    <script src="../script/script.js"></script>
  </body>
</html>
